html {
	width: 100%;
	min-width: 800px;
	height: 100%;
	overflow: auto;
	font-family: 'Roboto', sans-serif;
}

p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a {
	text-decoration: none;
}

iframe {
	border-style: none;
}

#container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 800px;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 0;
	display: inline-block;
}

#leftColumn {
	position: fixed;
	top: 0;
	width: 20%;
	min-width: 200px;
	height: 100%;
	background-color: #2196f3;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 100%;
	z-index: 10;
	
}

#content {
	position: absolute;
	text-align: center;
	right: 0%;
	height: 100%;
	width: 80%;
	min-width: 600px;
	background-color: white;
	display: inline-block;
}

.choice {
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	color: white;
	transition: background-color .5s ease;
	background-color: #2196f3;
}

.choice:hover {
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	color: white;
	transition: background-color .5s ease;
	background-color: #1e88e5;
}

.choice:active {
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	color: white;
	transition: background-color .25s ease;
	background-color: #1565c0;
}

/*Choices to choose from*/
#aboutMe {

}

#resume {
	
}

#github {
	
}

#linkedin {
	
}

#solstice {
	
}

#lab {
	
}

#contact {
	
}



/*DIVS WITH INFO*/

#resumepic {
	display: block;
	width: 100%;
	height: 100%;
	min-width: 600px;
	overflow: hidden;
}

#aboutMeinfo {
	display: block;
	width: 80%;
	height: 100%;
	min-width: 600px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
}


#solsticePic {
	display: block;
	width: 80%;
	height: 40%;
	margin: 0 auto;
}

#solsticeInfo {
	display: block;
	width: 80%;
	height: 60%;
	min-width: 600px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
}


#cssMenu {
	position: absolute;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: #42a5f5;
	z-index: 3;
}

/*CSS MENU CHOICES*/

#materialForm {
	width: 100%;
	height: 45px;
	top: 0;
	color: white;

	transition: background-color .5s ease;
	background-color: #42a5f5;	
}

#materialForm:hover {
	position: relative;
	top: 0px;
	width: 100%;
	height: 45px;
	color: white;

	transition: background-color .5s ease;
	background-color: #1e88e5;
}

#materialForm:active {
	position: relative;
	top: 0px;
	width: 100%;
	height: 45px;
	color: white;

	transition: background-color .25s ease;
	background-color: #1565c0 ;
}

#Form {
	width: 100%;
	height: 100%;
}

#SolsticeLogo {
	width: 100%;
	height: 100%;
	z-index: 2;
}

#SolsticeLogoOpener {
	width: 100%;
}