html {
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: 'Roboto', sans-serif;
}

p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a {
	text-decoration: none;
	color: white;
}

iframe {
	border-style: none;
	position: absolute;
	top: 0;
	left: 0;
}

#container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	z-index: 0;
	display: inline-block;
	color: white;
}

#leftColumn {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #2196f3;
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 100%;
	z-index: 0;
	
}

#content {
	text-align: center;
	right: 0%;
	height: 100%;
	width: 100%;
	background-color: white;
	display: inline-block;
}

.choice {
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	color: white;
	transition: background-color .5s ease;
	background-color: #2196f3;
}

.choice:hover {
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	color: white;
	transition: background-color .5s ease;
	background-color: #1e88e5;
}

.choice:active {
	position: relative;
	top: 0px;
	width: 100%;
	height: 50px;
	color: white;
	transition: background-color .25s ease;
	background-color: #1565c0;
}

/*Choices to choose from*/
#aboutMe {

}

#resume {
	
}

#github {
	
}

#linkedin {
	
}

#solstice {
	
}

#lab {
	
}

#contact {
	
}



/*DIVS WITH INFO*/

#resumepic {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #42a5f5;
	z-index: 1;
}

#aboutMeinfo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #42a5f5;
	z-index: 1;
	font-size: 20px;
}


#solsticePic {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #42a5f5;
	z-index: 2;
}

#solsticeInfo {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #42a5f5;
	z-index: 1;
}


#cssMenu {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #42a5f5;
	z-index: 1;
}

/*CSS MENU CHOICES*/

#materialForm {
	width: 100%;
	height: 45px;
	top: 0;
	color: white;

	transition: background-color .5s ease;
	background-color: #42a5f5;	
}

#materialForm:hover {
	position: relative;
	top: 0px;
	width: 100%;
	height: 45px;
	color: white;

	transition: background-color .5s ease;
	background-color: #1e88e5;
}

#materialForm:active {
	position: relative;
	top: 0px;
	width: 100%;
	height: 45px;
	color: white;

	transition: background-color .25s ease;
	background-color: #1565c0 ;
}

#Form {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1;
}

#SolsticeLogo {
	width: 100%;
	height: 100%;
	z-index: 0;
}

#SolsticeLogoOpener {
	width: 100%;
}

#back {
	border: none;
 	background: black;
  	cursor: pointer;
  	border-radius: 3px;
  	padding: 6px;
  	width: 100px;
  	height: 100px;
  	color: white;
  	margin-left: 25px;
  	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  	opacity: .5;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	z-index: 50;
}

#back:active {
	opacity: .8
}